.sidebar {
	opacity: 1.0;
	background: rgb(172,66,60);
}

.sidebar:hover {
	opacity: 1.0;
}

.sidebar-logo {
	padding: 1.5rem;
}

.sidebar-logo img {
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	width: 160px;
	margin: 0 auto;
}

.masthead {
  background: rgb(172,66,60);
}

#logo {
  margin: 0;
  padding: 0;
  height: 30px;
  display: inline-block;
}

.banner {
  margin: 0 0 1rem;
  border-radius: 5px;
}

.make-yellow {
  background: rgb(252,246,222);
}

.yellow-icon {
  color: rgb(252,246,222);
}

.red-icon {
	color: rgb(172,66,60);
}

.green-icon {
	color: rgb(66,87,29);
}

.gray-icon {
	color: rgb(68,68,88);
}





.clear:before,
.clear:after {
    content: " ";
    display: table;
}

.clear:after {
    clear: both;
}
.wrap2 { padding: 10,10,10,10;}
.left {
  float: left;
  padding: 10,10,10,10;
}

