.sidebar {
	opacity: 1.0;
	background: rgb(172,66,60);
}

.sidebar:hover {
	opacity: 1.0;
}

.sidebar-logo {
	padding: 1.5rem;
}

.sidebar-logo img {
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	width: 160px;
	margin: 0 auto;
}

.masthead {
  background: rgb(172,66,60);
}

#logo {
  margin: 0;
  padding: 0;
  height: 30px;
  display: inline-block;
}
